*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
body{
    background-color: black;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(image/neda-astani-KWTkd7mHqKE-unsplash.jpg);
    background-size: cover;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    backdrop-filter: blur(5px);
    background-blend-mode: darken;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px; 
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10PX;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display:none;
}
.footer{
    font-style: italic;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: -20px;
}

@media (max-width: 600px){
    .card{
        margin: 50px auto 0;
        padding: 20px 15px;
    }
    .search input{
        padding: 8px 15px;
        height: 50px;
        font-size: 16px;
    }
    .search button{
        width: 50px;
        height: 50px;
    }
    .weather h1{
        font-size: 50px;
    }
    .weather h2{
        font-size: 30px;
    }
    .weather-icon{
        width: 120px;
    }
    .details{
        padding: 0 10px;
        margin-top: 30px;
    }
    .humidity, .wind{
        font-size: 20px;
    }
}